@font-face {
    font-family: ThinFont;
    src: url("NotoSansHK-Thin.otf") format("opentype");
}
body{
    font-family: ThinFont;
    background-image: url(background.jpeg);
    margin: 50px;
}
div.windowm{
    background-color: rgb(243, 243, 243);
    visibility: visible;
    margin: 10px;

    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}
div.window{
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    visibility: visible;

    background: rgba(52, 255, 143, 0.75);
    box-shadow: 0 2px 6px rgba(0,0,0,0.5), inset 0 1px rgba(255,255,255,0.3), inset 0 10px rgba(255,255,255,0.2), inset 0 10px 20px rgba(255,255,255,0.25), inset 0 -15px 30px rgba(0,0,0,0.3);
    -o-box-shadow: 0 2px 6px rgba(0,0,0,0.5), inset 0 1px rgba(255,255,255,0.3), inset 0 10px rgba(255,255,255,0.2), inset 0 10px 20px rgba(255,255,255,0.25), inset 0 -15px 30px rgba(0,0,0,0.3);
    -webkit-box-shadow: 0 2px 6px rgba(0,0,0,0.5), inset 0 1px rgba(255,255,255,0.3), inset 0 10px rgba(255,255,255,0.2), inset 0 10px 20px rgba(255,255,255,0.25), inset 0 -15px 30px rgba(0,0,0,0.3);
    -moz-box-shadow: 0 2px 6px rgba(0,0,0,0.5), inset 0 1px rgba(255,255,255,0.3), inset 0 10px rgba(255,255,255,0.2), inset 0 10px 20px rgba(255,255,255,0.25), inset 0 -15px 30px rgba(0,0,0,0.3);

}
div.winborder{
    color: black;
    text-align: center;
    visibility: visible;
}
p{
    margin: 20px;
}
div{
    visibility: hidden;
}
.button{
    text-decoration: none;
    color: black;

    margin: 10px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;

    background: rgba(97, 255, 247, 0.25);
    box-shadow: 0 2px 6px rgba(0,0,0,0.5), inset 0 1px rgba(255,255,255,0.3), inset 0 10px rgba(255,255,255,0.2), inset 0 10px 20px rgba(255,255,255,0.25), inset 0 -15px 30px rgba(0,0,0,0.3);
    -o-box-shadow: 0 2px 6px rgba(0,0,0,0.5), inset 0 1px rgba(255,255,255,0.3), inset 0 10px rgba(255,255,255,0.2), inset 0 10px 20px rgba(255,255,255,0.25), inset 0 -15px 30px rgba(0,0,0,0.3);
    -webkit-box-shadow: 0 2px 6px rgba(0,0,0,0.5), inset 0 1px rgba(255,255,255,0.3), inset 0 10px rgba(255,255,255,0.2), inset 0 10px 20px rgba(255,255,255,0.25), inset 0 -15px 30px rgba(0,0,0,0.3);
    -moz-box-shadow: 0 2px 6px rgba(0,0,0,0.5), inset 0 1px rgba(255,255,255,0.3), inset 0 10px rgba(255,255,255,0.2), inset 0 10px 20px rgba(255,255,255,0.25), inset 0 -15px 30px rgba(0,0,0,0.3);
}
input.inputurl{
    animation-name: inputurlout;
    animation-duration: 0.5s;
    background-color: white;
    color: #101010;
    border-color: white;
    border-style: solid;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
input.inputurl:hover{
    animation-name: inputurlin;
    animation-duration: 0.5s;
    background-color: white;
    color: #101010;
    border-color: #5050ff;
    border-style: solid;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
@keyframes inputurlin{
    0% {border-color: white;}
    100%{border-color: #5050ff;}
}
@keyframes inputurlout{
    0%{border-color: #5050ff;}
    100% {border-color: white;}
}
.loadbanner{
    margin: 0px;
    animation-name: loadbanner;
    animation-duration: 3s;
    width: 0px;
    height: 0px;
    visibility: hidden;
    background-color: #101010;
    color: white;
}
@keyframes loadbanner{
    0%{width: 9999px; height: 9999px;visibility: visible;}
    75%{width: 9999px; height: 9999px;visibility: visible;opacity: 1;}
    100%{width: 9999px; height: 9999px;visibility: visible;opacity: 0;}
}
dialog{
    animation: RGB 5s infinite linear;
}
@keyframes RGB {
    0% {
      border-color: #FF0000;
    }
    12.5% {
      border-color: #FFA500;
    }
    25% {
      border-color: #FFFF00;
    }
    37.5% {
      border-color: #7FFF00;
    }
    50% {
      border-color: #00FFFF;
    }
    62.5% {
      border-color: #0000FF;
    }
    75% {
      border-color: #9932CC;
    }
    87.5% {
      border-color: #FF1493;
    }
    100% {
        border-color: #FF0000;
      }
}