 @font-face {
    font-family: ThinFont;
    src: url("../NewRes/NotoSansHK-Thin.otf") format("opentype");
 }

  body {
    font-family: ThinFont;
    background-color: #5f5f5f;
    color: whitesmoke;
  }
  
  * {
    box-sizing: border-box;
  }
  
  .exitdot {
    height: 12px;
    width: 12px;
    background-color: red;
    border-radius: 50%;
    display: inline-block;
  }

  .closedot {
    height: 12px;
    width: 12px;
    background-color: yellow;
    border-radius: 50%;
    display: inline-block;
  }
  
  .top {
    padding-left: 30px;
    padding-top: 10px;
    background: #1d1d1d;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    line-height: 75%;
  }

  .bottom {
    padding: 10px;
    background: #1d1d1d;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    line-height: 75%;
  }
  
  .content {
    padding-top: 15px;
    padding-left: 50px;
    background-color: #1d1d1d;
    line-height: 175%;
  }

  a{
    color: whitesmoke;
    text-decoration: none;
  }

  .icon-bar {
    width: 100%;
    background-color: #555;
    overflow: auto;
  }

  .hidden {
    color: #5f5f5f;
  }